<h1>Message</h1>
<p>{{ message }}</p>

<h1>Users</h1>
<ul>
    <li>
        <h2>Find user</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Search</button>
        </form>
        <h3>Results</h3>
        <ul>
            {% for item in object  %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    </li>
    <li>
        <h2>Create user</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form2.as_p }}
            <button type="submit">Create</button>
        </form>
    </li>
    <li>
        <h2>Update user</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form3.as_p }}
            <button type="submit">Update</button>
        </form>
    </li>
    <li>
        <h2>Delete user</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form4.as_p }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

<h1>Clients</h1>
<ul>
    <li>
        <h2>Find client</h2>
        <form method="POST">
            {% csrf_token %}
            {{ cform.as_p }}
            <button type="submit">Search</button>
        </form>
        <h3>Results</h3>
        <ul>
            {% for item in object2  %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    </li>
    <li>
        <h2>Create client</h2>
        <form method="POST">
            {% csrf_token %}
            {{ cform2.as_p }}
            <button type="submit">Create</button>
        </form>
    </li>
    <li>
        <h2>Update client</h2>
        <form method="POST">
            {% csrf_token %}
            {{ cform3.as_p }}
            <button type="submit">Update</button>
        </form>
    </li>
    <li>
        <h2>Delete client</h2>
        <form method="POST">
            {% csrf_token %}
            {{ cform4.as_p }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>